body {
    text-align: center;
    background-color: #f4a3ff;
    font-family: system-ui;
}
.main {
    border: 5px solid black;
    width: 700px;
    height: 600px;
    margin: auto;
}
.Quiz {
    width: 452px;
    margin: 25px;
}

.Q1 {
    text-align: left;
    width: 452px;
    height: 250px;
    margin: auto;
    border: 5px solid black;
    margin-top: 20px;
    display: none;
}
.Q1 .content {
    margin-left: 30px;
    height: 100px;
}
.Q1 .nextBtn {
    text-align: right;
    margin: 30px;
}
.Q1 .next {
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 30px;
}
.Q1 .numOfQuestions {
    text-align: center;
    background-color: black;
    margin: 10px;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #9750b8;
}
.numOfQuestions span {
    display: inline-block;
    padding-top: 8px;
}

/* Discription  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: rgb(254, 254, 254);
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(136, 136, 136);
    width: 48%;
    margin-top: 50px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* end Discription  */

.btn {
    background-color: black;
    color: #f4a3ff;
    border: 2px solid #9750b8;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    margin-right: 10px;
}

/* result of form  and score */
#textResult {
    background-color: black;
    color: #f4a3ff;
    height: 150px;
    width: 452px;
    margin: auto;
    margin-top: 30px;
    font-size: 35px;
    padding: 10px;
    display: none;
}

/* score */
.score {
    background-color: #f4a3ff;
    border: 2px solid black;
    width: 252px;
    height: 180px;
    margin: auto;
    margin-top: 30px;
    display: none;
}
.name {
    background-color: #f4a3ff;
    height: 100px;
    width: 342px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid black;
    display: none;
}
.name label,
.name input {
    display: inline-block;
    margin: 5px;
}
.name input {
    border-radius: 10px;
    padding-left: 10px;
}
.name .btn {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
}
ul#scores {
    list-style: none;
    padding-left: 0;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
